body{
    background-color: darkgreen;
    margin: 50px;

    margin-left: 60px;
    margin-right: 70px;
    margin-bottom: 10px;
    margin-top: 10px;

    text-align: -moz-center;


}

p{
    color:green;


}
.one{
    color: red;

border: blue 2px solid;
border-radius: 2px;


}
p{
    margin: left 2px;
    margin-left: ;

padding: 4px;
}
p{
    padding: left 3px;

}
.b{
    font-size:  90px;
margin: left 3px;
border: blue 2px solid;
}
a{
    text-decoration: none;
}
.kk{
    width: 600px;
    border-radius: 500px;
}
img{

    border-radius: 30px 40px;
}
img {
    border-radius: 20px 10px;

}
p:hover{color: brown;

b:hover{color: orangered;
font-size:30px ;
    border-bottom: #53df81 2px solid;
font: 20px;
}

}
.box{
    float: right;
    width: 50%;
    border: solid;
    border-radius: 50px;
}
::placeholder{
    background-color: black;
    background-size: cover;
    border-radius: 50px;
    align-content: center;
    box-shadow: inset;

}
.content{
    margin-left: 150px;
}

